# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\bogda\Desktop\Unicam\Secondo Anno\Algoritmi\Progetto Totale 2 - Official\ASDL2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
